<header>
  <a href="/"><span class="h2"><strong>Remembering Thoughts</strong></span></a>
  <div class="follow-btns"> 
    <input type="search" id="search-input" placeholder="search...">&nbsp;
    <a class="btn btn-twitter-round" href="https://twitter.com/chris_mckelt" target="_blank" rel="noopener noreferrer" alt="Twitter" title="Me on Twitter"><span class="sr-only">Twitter</span></a>
    <a class="btn btn-github-round" href="https://github.com/chrismckelt/" target="_blank" rel="noopener noreferrer" alt="GitHub" title="Me on GitHub"><span class="sr-only">GitHub</span></a>
    <a class="btn btn-rss-round" href="/feed.xml" target="_blank" alt="RSS" title="RSS"><span class="sr-only">RSS</span></a>
  </div>
</header>