/* ==========================================================================
CSS Variables
========================================================================== */
:root {
    /* Colors */
    --mckelt-purple: #614385;
    --mckelt-purple-hover: #516395;
    --light-grey: #dee2e6;
    --very-light-grey: #f8f9fa;
    --headings: #222;
    --body: #3e332d;
    --danger: #dc3545;
    --warning: #ffc107;
    --success: #198754;

    --blue: #0d6efd;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #d63384;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #198754;
    --teal: #20c997;
    --cyan: #0dcaf0;
    --white: #ffffff;
    --black: #000000;

    /* Social colors */
    --twitter: #1b95e0;
    --github: #24292e;
    --rss: #b9501f;

    /* Gradients */
    --mckelt-gradient: linear-gradient(
        to right,
        #4568dc    0%,
        #b06ab3 50%,
        #1b95e0 100%
    );

    /* Typography */
    --h1: 2.5rem;
    --h2: 2rem;
    --h3: 1.75rem;
    --h4: 1.5rem;
    --h5: 1.25rem;
    --h6: 1rem;
    --p: 1rem;
}

/* ==========================================================================
Page setup
========================================================================== */
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1rem;
    line-height: 1.5;
    font-family: "Verdana", "Helvetica Neue", "Helvetica",
        Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: var(--body);
    margin: 0;
    height: 100vh;
}

/* ==========================================================================
Typography
========================================================================== */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: "Verdana", "Helvetica Neue", "Helvetica",
        Helvetica, Arial, sans-serif;
    color: var(--heading);
    line-height: 1.2;
    font-weight: 300;
    margin-bottom: 0.5rem;
}

h1,
.h1 {
    font-size: calc(0.8 * var(--h1));
}

h2,
.h2 {
    font-size: calc(0.8 * var(--h2));
}

h3,
.h3 {
    font-size: calc(0.8 * var(--h3));
}

h4,
.h4 {
    font-size: calc(0.8 * var(--h4));
}

h5,
.h5 {
    font-size: var(--h5);
}

h6,
.h6 {
    font-size: var(--h6);
}

p,
.p {
    font-size: var(--p);
}

/* ==========================================================================
Background
========================================================================== */
.bg-mckelt-purple {
    background-color: var(--mckelt-purple);
}

.bg-light-grey {
    background-color: var(--light-grey);
}

.bg-danger {
    background-color: var(--danger);
}

.bg-warning {
    background-color: var(--warning);
}

.bg-success {
    background-color: var(--success);
}

.bg-blue {
    background-color: var(--blue);
}

.bg-purple {
    background-color: var(--purple);
}

.bg-pink {
    background-color: var(--pink);
}

.bg-red {
    background-color: var(--red);
}

.bg-orange {
    background-color: var(--orange);
}

.bg-yellow {
    background-color: var(--yellow);
}

.bg-green {
    background-color: var(--green);
}

.bg-teal {
    background-color: var(--teal);
}

.bg-cyan {
    background-color: var(--cyan);
}

.bg-white {
    background-color: var(--white);
}

.bg-black {
    background-color: var(--black);
}

/* ==========================================================================
Header
========================================================================== */
header {
    padding: 1rem;
}

header a {
    display: flex;
}

.follow-btns {
    padding: 1rem 0 0 0.5rem;
    text-align: center;
}

.follow-btns .btn + .btn {
    margin-left: 0.5rem;
}

/* ==========================================================================
Nav
========================================================================== */
nav {
    background: var(--mckelt-gradient);
}

nav ul {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 1rem;
    justify-content: center;
}

/* ==========================================================================
Containers
========================================================================== */
.container {
    padding: 1rem;
    background: var(--white);
    margin: 0 auto;
}

.container main {
    margin-bottom: 2rem;
}

/* ==========================================================================
Main
========================================================================== */
nav ul li a {
    color: var(--white);
    font-size: 1.25rem;
}

nav ul li a:hover {
    color: rgba(255, 255, 255, 0.5);
}

nav ul li:not(:last-of-type) {
    margin-right: 3rem;
}

main img {
    max-width: 100%;
    height: auto;
}

article h2 {
    margin-bottom: 0;
}

/* ==========================================================================
Posts
========================================================================== */
.posts {
    border-left: 1px dashed #aeaeae;
    list-style: none;
    padding-left: 1.25rem;
}

.posts li {
    margin-bottom: 1.5rem;
}

.posts a {
    font-size: 1.15rem;
}

.posts .publish-date {
    font-size: 0.75rem;
    position: relative;
}

.publish-date {
    font-size: 0.9rem;
    margin-top: 0;
    text-transform: capitalize;
}

.publish-date::after {
    border: 1px solid #bdbbbb;
    border-radius: 50%;
    background-color: white;
    content: "";
    height: 0.5rem;
    left: -1.5rem;
    position: absolute;
    top: calc(50% - 0.2rem);
    width: 0.5rem;
}

figure {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

blockquote {
    position: relative;
}

blockquote::before {
    background-color: #32b81f;
    border-radius: 4px;
    bottom: 0px;
    content: "";
    left: -40px;
    position: absolute;
    top: 0px;
    width: 4px;
}

/* ==========================================================================
Tags
========================================================================== */
.tag-container {
    margin-bottom: 2.5rem;
    max-width: 540px;
}

.tags {
    font-size: 0.9rem;
}

/* ==========================================================================
Badge
========================================================================== */
.badge {
    display: inline-block;
    padding: 0.25rem 0.65rem 0.35rem 0.65rem;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1;
    color: var(--white);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

a.badge:hover {
    text-decoration: none;
    filter: brightness(80%);
    color: var(--white);
}

a.badge:not(:last-child) {
    margin-right: 5px;
}

/* ==========================================================================
Links
========================================================================== */
a {
    color: var(--mckelt-purple);
    text-decoration: none;
}

a:hover {
    color: var(--mckelt-purple-hover);
    text-decoration: underline;
}

.social-share {
    margin: 4rem 0;
}

.social-share a img.img-button {
    margin-right: 5px;
}

/* ==========================================================================
Buttons
========================================================================== */
.btn {
    border-radius: 3px;
    color: white;
    display: inline-block;
    font-size: 0.75rem;
    padding: 3px 9px 3px 9px;
    text-align: center;
    text-decoration: none;
}

.btn:hover {
    text-decoration: none;
}

.btn-twitter,
.btn-twitter-round {
    background-color: var(--twitter);
}

.btn-github,
.btn-github-round {
    background-color: var(--github);
}

.btn-rss,
.btn-rss-round {
    background-color: var(--rss);
}

.btn-twitter:active,
.btn-twitter:focus,
.btn-twitter:hover,
.btn-twitter-round:active,
.btn-twitter-round:focus,
.btn-twitter-round:hover,
.btn-github:hover,
.btn-github-round:hover,
.btn-rss:hover,
.btn-rss-round:hover {
    filter: brightness(60%);
}

.btn-twitter-round {
    background-image: url(../img/twitter-logo-white.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-size: 22px;
}

.btn-github-round {
    background-image: url(../img/github-logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-size: 32px;
}

.btn-rss-round {
    background-image: url(../img/rss.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-size: 20px;
}

/* ==========================================================================
Code
========================================================================== */
code {
    background-color: #f3f3f3;
    border-radius: 4px;
    font-size: 0.85rem;
    padding: 3px 6px;
}

pre.highlight {
    padding-left: 0.5rem;
}

pre {
    font-size: 0.85rem;
    line-height: 1.5;
}

pre code {
    background-color: transparent;
    padding: 0;
}

/* ==========================================================================
Screen Reader Only for Accessibility
========================================================================== */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* ==========================================================================
Table
========================================================================== */
table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid var(--light-grey);
}

table th,
table td {
    padding: 0.75rem;
    vertical-align: top;
    border: 1px solid var(--light-grey);
}

table thead th {
    vertical-align: bottom;
}

table thead th,
table thead td {
    border-bottom: 2px solid var(--light-grey);
}

table tbody + tbody {
    border-top: 2px solid var(--light-grey);
}

/* ==========================================================================
Footer
========================================================================== */
footer {
    background: var(--very-light-grey);
    display: block;
    padding: 2rem;
    margin-top: auto;
}

footer .footer-end {
    margin-top: 2rem;
}

footer .footer-title {
    margin-top: 0rem;
}

/* ==========================================================================
General utility classes
========================================================================== */
.text-center {
    text-align: center;
}

.text-capitalize {
    text-transform: capitalize;
}

hr {
    color: var(--light-grey);
    margin: 2rem auto;
}

.horizontal-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.horizontal-list li {
    display: inline-block;
}

.horizontal-list li:not(:last-child) {
    margin-right: 1rem;
}

video {
    max-width: 100%;
}

.no-shadow {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.highlight {
    overflow-x: auto;
}

.border {
    border: 1px solid var(--light-grey);
}

.border-rounded {
    border: 1px solid var(--light-grey);
    border-radius: 4px;
}

/* ==========================================================================
Responsive Media queries
========================================================================== */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    header {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .follow-btns {
        padding: 0;
        text-align: right;
        display: flex;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    footer .footer-end {
        margin-top: 0;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    h1,
    .h1 {
        font-size: var(--h1);
    }
    h2,
    .h2 {
        font-size: var(--h2);
    }
    h3,
    .h3 {
        font-size: var(--h3);
    }
    h4,
    .h4 {
        font-size: var(--h4);
    }

    .container {
        width: 100%;
        max-width: 992px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    figure {
        margin-left: 1.25rem;
        margin-right: 1.25rem;
    }
    .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .container main {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        margin-bottom: 0;
    }
}


#sidebar {
    padding-left: 5px;
    margin-right: 0px;

     
}